/* Variables */
:root {
  /* Colors */
  --Background: #121212;
  --Secondary: #1D1D1D;
  --Thirdary: #1A1A1A;

  --Button: #2B2B2B;
  --ButtonHover: #3D3D3D;
  --ButtonSelMarker: #0085FF;

  --Icon: #C4C4C4;
  --BoxIcon: #B5B5B5;
}

/* Fonts */
@font-face {
  font-family: Inter;
  src: url('../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
}

@font-face {
  font-family: Inter;
  font-weight: bold;
  src: url('../assets/fonts/Inter/static/Inter-Bold.ttf');
}

@font-face {
  font-family: Inter Semibold;
  src: url('../assets/fonts/Inter/static/Inter-SemiBold.ttf');
}

/* Styles */
* {
  color: white;
  font-size: 14px;
  font-family: 'Inter';
  font-weight: 400;
  user-select: none;
  margin: 0;
}

html {
  border-radius: 10px;
}

body {
  background: #12121200;
  border-radius: 2px;
  margin: 0;
}

h3 {
  font-size: 16px;
}

h5 {
  font-size: 12px;
}

#mainBody {
  background: var(--Background);
  border-radius: 10px;
}

#navBar {
  position: relative;
  background: var(--Secondary);

  height: 600px;
  width: 150px;

  top: 0;
  left: 0;

  border-radius: 9px 0 0 9px;
}

#navBarBody button {
  display: flex;
  align-items: center;
  text-align: left;

  width: 100%;
  height: 40px;

  border: none;
  outline: none;

  background: var(--Button);

  border-radius: 10px 0 0 10px;

  margin-bottom: 8px;

  transition: background 0.2s ease, border-radius 0.2s ease;
}

#navBarBody button:hover {
  background: var(--ButtonHover);
}

#navBarBody button:active {
  background: #4e4e4e;
}

#navBarBody button h3 {
  position: relative;
  left: 5px;
}

#navBarBody .selectedNavButton {
  border-radius: 0 0 0 0;
  background: var(--ButtonHover);
}

#navSelectedMarker {
  position: absolute;
  height: 40px;
  width: 3px;

  top: 50px;

  background: var(--ButtonSelMarker);

  transition: top 0.1s ease-out, height 0.1s ease-out;
}